/** main styling */

.site-main {
    min-height: 30rem;
}

p {
    font-size: 18px;
}

h3 {
    font-size: 20px;
}

/** header styling */

/* header styles */
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #121420;
    color: "#4C9F70";
    margin-bottom: 2rem;
}

/* custom logo styles */
.custom-logo {
    box-shadow: none;
    padding-top: 2rem;
    padding-left: 3rem;
}

/* store navigation styles */
#store-navigation {
    grid-column: 3 / span 1;
    padding-top: 5rem;
}

/* site navigation styles */
#site-navigation {
    grid-column: 3 / span 1;
    grid-row: 2;
    background-color: #403F4C;
}

/* store menu, primary menu styles */
#store-menu, #primary-menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    float: right;
}

/* store menu list item styles */
#store-menu li {
    margin-right: 50px;
}

/* store item a tag styles */
#store-menu li > a {
    color: #4C9F70;
    font-size: 28px;
    text-decoration: none;
}

/* primary menu padding settings */
#primary-menu {
    padding-left: 20px;
}

/* primary menu list item styles */
#primary-menu li {
    margin-right: 50px;
}

/* primary menu a tag styles */
#primary-menu li > a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}

/* entry header styles */
.entry-header {
    display: none;
}

/** footer styling */

/* footer styles */
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #121420;
    color: #fff;
    padding: 2px 20px;
}

/* footer a tag styles */
footer a {
    color: #4C9F70;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* site socials styles */
.site-socials {
    text-align: right;
}

/* site info styles */
.site-info {
    text-align: center;
}

/* site copyright styles */
.site-copyright {
    grid-column: 2 / span 1;
    grid-row: 2;
    text-align: center;
}

/* site copyright paragraph font styles */
.site-copyright p {
    color: #4C9F70;
}

#footer-links-menu {
    list-style: none;
    display: flex;
}

#footer-socials-menu {
    list-style: none;
    display: flex;
    justify-content: right;
}

#footer-links-menu li {
    margin-right: 1rem;
}

#footer-socials-menu li {
    margin-left: 1rem;
}

.entry-footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(0, 0, 0, 0);
    color: #121420;
}

/** blog page styling */

.blog .site-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
}

.blog article {
    margin: 1rem 2rem;
    min-height: 300px;
    max-height: 500px;
    overflow-y: scroll;
}

.blog img {
    max-width: 450px;
    max-height: 300px;
}

.updated {
    display: none;
}

.post .entry-header {
    display: block;
    background-color: rgba(0, 0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.post .entry-header a {
    color: #4C9F70;
}

.tags-links {
    grid-column: 3 / span 1;
}

.comments-link {
    display: none;
}

/** single post styling */
.single .site-main {
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
}

.single .entry-header {
    display: block;
    background-color: rgba(0, 0, 0, 0);
}

.single .entry-meta {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.single .entry-meta a {
    color: #4C9F70;
}

.single .nav-links {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0rem;
}

.single .nav-links a {
    color: #4C9F70;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/** woocommerce styling */
.woocommerce a {
    color: #4C9F70;
}

.woocommerce a.button {
    background-color: #4C9F70;
    color: #fff;
}

.woocommerce .return-to-shop {
    text-align: center;
}

.woocommerce table.shop_table {
    border: 5px solid #121420;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #121420;
}

.woocommerce .quantity .qty {
    width: 5rem;
    text-align: center;
    font-family: Verdana;
    color: black;
    font-size: 16px;
}

.woocommerce-cart .cart-collaterals .cart_totals table td {
    text-align: right;
    float: right;
}

.woocommerce a.button.alt {
    background-color: #4C9F70;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.woocommerce a.button.alt:hover, .woocommerce .cart .button:hover, .woocommerce .cart input.button:hover {
    background-color: #121420;
    color: #fff;
}

.woocommerce .cart .button, .woocommerce .cart input.button {
    text-align: center;
    background-color: #4C9F70;
    color: #fff;
}

.woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
    float: none;
    text-align: center;
    background-color: #4C9F70;
    color: #fff;
}

.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
    font-size: 16px;
    padding: 0.5rem;
}

.woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images {
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
    float: none;
    width: 100%;
    clear: none;
}

.woocommerce div.product form.cart div.quantity {
    float: none;
    margin-bottom: 1em;
    text-align: center;
}

.woocommerce div.product form.cart .button {
    vertical-align: none;
    float: none;
    background-color: #4C9F70;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.woocommerce button.button {
    background-color: #4C9F70;
    color: #fff;
}

.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1, .woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
    float: none;
    width: 100%;
}

.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
    float: none;
    width: 100%;
    text-align: center;
}

.woocommerce-account .woocommerce-MyAccount-navigation {
    float: none;
    width: 100%;
    background-color: #121420;
    padding: 1rem 0rem;
    margin-bottom: 2rem;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.woocommerce-account .woocommerce-MyAccount-navigation-link {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.woocommerce-account .woocommerce-MyAccount-content {
    float: none;
    width: 100%;
}

.woocommerce-account .woocommerce-MyAccount-content fieldset {
    border: 5px solid #4C9F70;
}

.woocommerce-account .woocommerce-MyAccount-content fieldset legend {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.woocommerce-info, .woocommerce-message {
    border: 5px solid #4C9F70;
    background-color: #121420;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.woocommerce-Address-title {
    display: block;
    background-color:rgba(0, 0, 0, 0);
    text-align: center;
}

.woocommerce-account .addresses .title h3 {
    float: none;
}

.woocommerce .columns-3 {
    display: flex;
}

.woocommerce ul.products {
    width: 100%;
    display: block;
}

.woocommerce div.product form.cart {
    margin: 2em 0em;
    display: grid;
    grid-template-columns: 1fr;
}

.store-categories {
    min-width: 200px;
    margin-right: 3rem;
}

.store-categories .menu-item-object-page, .store-categories .menu-item-object-custom {
    display: none;
}

#secondary {
    display: none;
}

/** WS Form styling */

label.wsf-label {
    font-size: 20px !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    color: #121420;
}

button.wsf-button.wsf-button-primary {
    background-color: #4C9F70 !important;
    border-color: #4C9F70 !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/** site width styling */

/* default styling width */
.entry-content > * {
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
}

/* alignwide width */
.alignwide {
    max-width: 1400px;
}

/* alignfull width */
.alignfull {
    max-width: 100%;
}