/** header styling */

/* header styles */
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #121420;
    color: "#4C9F70";
    margin-bottom: 2rem;
}

/* custom logo styles */
.custom-logo {
    box-shadow: none;
    padding-top: 2rem;
    padding-left: 3rem;
}

/* store navigation styles */
#store-navigation {
    grid-column: 3 / span 1;
    padding-top: 5rem;
}

/* site navigation styles */
#site-navigation {
    grid-column: 3 / span 1;
    grid-row: 2;
    background-color: #403F4C;
}

/* store menu, primary menu styles */
#store-menu, #primary-menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    float: right;
}

/* store menu list item styles */
#store-menu li {
    margin-right: 50px;
}

/* store item a tag styles */
#store-menu li > a {
    color: #4C9F70;
    font-size: 28px;
    text-decoration: none;
}

/* primary menu padding settings */
#primary-menu {
    padding-left: 20px;
}

/* primary menu list item styles */
#primary-menu li {
    margin-right: 50px;
}

/* primary menu a tag styles */
#primary-menu li > a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}

/* entry header styles */
.entry-header {
    display: none;
}

/** footer styling */

/* footer styles */
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #121420;
    color: #fff;
    padding: 2px 20px;
}

/* footer a tag styles */
footer a {
    color: #4C9F70;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* site socials styles */
.site-socials {
    text-align: right;
}

/* site info styles */
.site-info {
    text-align: center;
}

/* site copyright styles */
.site-copyright {
    grid-column: 2 / span 1;
    grid-row: 2;
    text-align: center;
}

/* site copyright paragraph font styles */
.site-copyright p {
    color: #4C9F70;
}

#footer-links-menu {
    list-style: none;
    display: flex;
}

#footer-links-menu li {
    margin-right: 1rem;
}


/** site width styling */

/* default styling width */
.entry-content > * {
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
}

/* alignwide width */
.alignwide {
    max-width: 1400px;
}

/* alignfull width */
.alignfull {
    max-width: 100%;
}