/** Compextra theme block editor styles */


/** Text block styles */
.wp-block-heading, h1, h2, h3, h4, h5, h6 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #121420;
}

.wp-block-paragraph, p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #121420;
}

.wp-block-quote, .wp-block-quote p{
    color: #4C9F70;
}

.wp-block-list, ul {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: upper-roman;
    color: #4C9F70;
}

.wp-block-freeform {
    color: #121420;
}

.wp-block-code {
    background-color: #121420;
    color: #4C9F70;
}

.wp-block-code code {
    color: #4C9F70;
}

pre {
    letter-spacing: 2px;
    color: #121420;
}

.wp-block-pullquote {
    color: #4C9F70;
}

.wp-block-pullquote__citation {
    text-transform: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.wp-block-table table {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #121420;
    color: #fff;
    border: #4C9F70 double 5px;
}

td {
    border: #fff solid 1px;
    padding: 0.5rem;
}

.wp-block-table figcaption {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #121420;
    text-transform: uppercase;
}

.wp-block-verse {
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    color: #121420;
}

/** Media block styles */
img {
    box-shadow: 0px 4px 15px #4C9F70;
}

/** Design block styles */
.wp-block-button__link {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 0px;
    background-color: #4C9F70;
    color: #fff;
}

.wp-block-more input[type="text"] {
    color: #4C9F70;
}

.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
    color: #4C9F70;
    width: 400px;
}

/** Widget block styles  */
.wp-block-archives a {
    color: #4C9F70;
}

.wp-block-calendar table caption {
    color: #4C9F70;
    text-transform: uppercase;
}

.wp-block-calendar table thead {
    color: #4C9F70;
    background-color: #121420;
}

.wp-block-calendar tbody td {
    color: #121420;
}

.wp-block-categories ul {
    color: #4C9F70;
}

.wp-block-latest-comments a, .wp-block-latest-posts li a > div, .wp-block-pages-list__item {
    color: #4C9F70;
}

.wp-block-rss {
    color: #121420;
}

.wp-block-rss button, .wp-block-search button  {
    background-color: #4C9F70;
}

.wp-block-search {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wp-block-shortcode {
    color: #121420;
}

/** Theme block styles */
.wp-block-navigation {
    color: #4C9F70;
}

.wp-block-site-title a {
    color: #4C9F70;
}

.wp-block-post-title, .wp-block-post-excerpt {
    color: #121420;
}