/** header styling */
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #121420;
    color: "#4C9F70";
    margin-bottom: 2rem;
}

#store-navigation {
    grid-column: 3 / span 1;
    padding-top: 5rem;
}

#site-navigation {
    grid-column: 3 / span 1;
    grid-row: 2;
    background-color: #403F4C;
}

#store-menu, #primary-menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    float: right;
}

#store-menu li {
    margin-right: 50px;
}

#store-menu li > a {
    color: #4C9F70;
    font-size: 28px;
    text-decoration: none;
}

#primary-menu {
    padding-left: 20px;
}

#primary-menu li {
    margin-right: 50px;
}

#primary-menu li > a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}

.entry-header {
    display: none;
}

/** footer styling */
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #121420;
    color: #fff;
    padding: 2px 20px;
}

footer a {
    color: #4C9F70;
}

.site-socials {
    text-align: right;
}

.site-info {
    text-align: center;
}

.site-copyright {
    grid-column: 2 / span 1;
    grid-row: 2;
    text-align: center;
}


/** site width styling */
.entry-content > * {
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
}

.alignwide {
    max-width: 1400px;
}

.alignfull {
    max-width: 100%;
}